@import url('https://fonts.googleapis.com/css?family=El+Messiri');
@import url('https://fonts.googleapis.com/css?family=Roboto');

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 50px;
}

.App-title {
  font-size: 1.1em;
  border-bottom: dashed 1px #ddd;
  padding-bottom: 10px;
  margin-bottom: 0;
}

.App-intro {
  font-size: large;
  margin: 0;
  flex: 75%;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
